$border-color-hover: #666;
$border-color: #999;
$border-color-lighten: lighten($border-color, 30%);
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.25);
$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;
$font-size: 14px;
$input-height: 32px;
$red: red;
$grey: #eee;
.box-shadow{
    box-shadow: 0 0 5px $box-shadow-color;
}